.image-grid {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 1em; 
}

@media(min-width: 30em) {
    .image-grid {
        grid-template-columns: 1fr 1fr; 
        gap: 1.5em 1.5em; 
    }
}

@media(min-width: 50em) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 1.5em 1.5em; 
    }
}