.slider-modal {
    background-color: var(--color-dark-dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
}

.slider-modal .btn {
    position: absolute;
    top: 2.05em;
    right: calc(var(--gap-padding) / 1);
}

.slider-modal .btn-text-inner {
    color: var(--color-white);
}

.swiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 90%;
    height: 85%;
    object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--color-white);
}

@media screen and (min-width: 60em) {
    .swiper-button-prev {
        left: 20%;
        right: auto;
    }

    .swiper-button-next {
        right: 20%;
        left: auto;
    }
}

.swiper-pagination-bullet-active {
    background: var(--color-white);
}

.swiper-pagination-bullet {
    background: var(--color-gray);
}
