.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 800;
    pointer-events: none;
    background: transparent;
}

.loading-screen {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    will-change: top;
}

.loading-screen,
.loading-container .rounded-div-wrap.top .rounded-div,
.loading-container .rounded-div-wrap.bottom .rounded-div {
    background: var(--color-dark-dark);
}

.loading-container .rounded-div-wrap.top .rounded-div,
.loading-container .rounded-div-wrap.bottom .rounded-div {
    height: 745%;
}

.loading-container .rounded-div-wrap.top {
    top: 0;
    position: absolute;
    transform: translateY(-99%) scale(1, -1);
    z-index: 2;
    height: 0vh;
    will-change: height;
}

.loading-container .rounded-div-wrap.bottom {
    top: unset;
    bottom: 0;
    position: absolute;
    transform: translateY(99%);
    z-index: 2;
    height: 0vh;
    will-change: height;
}

.loading-container .loading-words {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    display: block;
    will-change: opacity;
}

.loading-container .loading-words h2 {
    margin: 0;
    padding: 0;
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0.6em;
    white-space: nowrap;
    padding-right: 0.4em;
    will-change: opacity;
}

.loading-container .dot {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: var(--color-white);
    left: 0;
    top: 47%;
    bottom: auto;
    width: calc(clamp(16px, 1.2vw, 19px) / 1.65);
    height: calc(clamp(16px, 1.2vw, 19px) / 1.65);
    transform: translate(0, 0) scale(1);
}

@media screen and (max-width: 540px) {
    .loading-container .dot {
        top: 42%;
    }
}
