.footer-rounded-div {
    width: 100%;
    position: relative;
    height: 0;
    display: block;
    z-index: 2;
}

.footer-rounded-div .rounded-div-wrap {
    transform: translateY(-1px);
    will-change: height;
}

@media screen and (max-width: 720px) {
    .footer-rounded-div .rounded-div-wrap {
        height: 7.5vh;
    }
}

.footer-wrap {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: var(--color-dark-dark);
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 5px 0px 5px var(--color-dark);
}

.footer {
    padding-bottom: 0;
    width: 100%;
    will-change: transform;
}

.footer .dots {
    width: calc(var(--container-padding) * 3);
}

.footer h2 {
    font-size: calc(clamp(3.25em, 7vw, 8em) * 0.875);
}

.footer h2 span {
    display: block;
}

.footer .container.medium {
    display: flex;
    flex-direction: column;
}

.footer .container.medium .row:nth-child(1) {
    padding-bottom: calc(var(--section-padding) / 2);
}

.footer .container.medium .row:nth-child(2) .btn-fixed {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.footer .container.medium .row:nth-child(2) .btn-fixed .btn {
    will-change: transform;
}

.footer .container.medium .row:nth-child(2) {
    padding-bottom: calc(var(--section-padding) * 0.475);
}

.footer .container.medium .row:nth-child(3) .flex-col {
    display: flex;
    flex-direction: row;
}

.footer .container.medium .row:nth-child(3) .flex-col .btn {
    display: inline-flex;
    margin-right: 0.5em;
    margin-bottom: 0;
}

.footer .arrow {
    position: absolute;
    right: 0;
    bottom: calc(var(--gap-padding) * 1.5);
    will-change: transform;
}

.footer .profile-picture {
    margin-right: 0.125em;
    height: 0.85em;
    width: 0.85em;
    transform: translateY(0.09em);
}

.footer .arrow svg {
    transform: rotate(90deg);
}