.btn-hamburger {
    position: fixed;
    top: 2.5em;
    right: calc(var(--gap-padding) / 1.5);
    z-index: 105;
}

.btn-hamburger .btn-click,
.btn-hamburger .btn-text {
    width: clamp(4em, 5.5vw, 5em);
    height: clamp(4em, 5.5vw, 5em);
    border-radius: 50%;
}

.btn-hamburger .btn-click {
    border: 0;
    background-color: var(--color-dark);
    transition: background-color 0.25s cubic-bezier(0.36, 0, 0.66, 0),
        box-shadow 0.25s cubic-bezier(0.36, 0, 0.66, 0);
    -webkit-box-shadow: inset 0px 0px 0px 1px var(--color-border-light);
    box-shadow: inset 0px 0px 0px 1px var(--color-border-light);
}

.nav-active .btn-hamburger .btn-click {
    -webkit-box-shadow: inset 0px 0px 0px 1px transparent !important;
    box-shadow: inset 0px 0px 0px 1px transparent !important;
}

@media screen and (min-wdth: 50em) {
    .btn-hamburger .btn-fill {
        background-color: var(--color-blue);
    }
}

.btn-hamburger .btn-text-inner {
    color: var(--color-white);
    opacity: 0;
}

.btn-hamburger .btn-bars {
    position: absolute;
    width: 28%;
    height: 8%;
    opacity: 1;
}

.btn-hamburger .btn-text {
    position: relative;
}

.btn-hamburger .btn-bars::before,
.btn-hamburger .btn-bars::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    height: 1px;
    width: 100%;
    transform: translate(-50%, -50%) rotate(0.001deg);
    background: var(--color-white);
    transition: var(--animation-fast);
}

.btn-hamburger .btn-bars::before {
    top: 0;
    transform: translate(-50%, -50%);
}

.btn-hamburger .btn-bars::after {
    top: 100%;
    transform: translate(-50%, -50%);
}

.btn-hamburger.active .btn-bars::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (min-width: 50em) {
    .btn-hamburger.active .btn-click {
        background-color: var(--color-blue);
    }
}



.btn-hamburger.active .btn-bars::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

main .btn-hamburger.active {
    transform: translateY(0%) scale(1) rotate(0.001deg);
}

#contact .btn-hamburger .btn-click {
    -webkit-box-shadow: inset 0px 0px 0px 1px var(--color-border-light) !important;
    box-shadow: inset 0px 0px 0px 1px var(--color-border-light) !important;
}

#contact .nav-active .btn-hamburger .btn-click {
    -webkit-box-shadow: inset 0px 0px 0px 1px transparent !important;
    box-shadow: inset 0px 0px 0px 1px transparent !important;
}
